<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/styles.css" />
    <script src="https://unpkg.com/vue@3.1.0"></script>
    <title>Ejemplo 3 Vue</title>
  </head>
  <body>

    <input type="text" @click="">
    <div id="app">
      <!-- <button @click="agregarPokemon">Bulbasaur</button> -->
      <form class="form-search" @submit.prevent="ejecutarBusqueda">
        <label for="nombre">Nombre</label>
        <input
          type="text"
          name="nombre"
          v-model="buscar.nombre"
          :disabled="buscar.todos"
          @input="ejecutarBusqueda"
        />
        <label for="tipo">Tipo</label>
        <input
          type="text"
          name="tipo"
          v-model="buscar.tipo"
          :disabled="buscar.todos"
          @input="ejecutarBusqueda"
        />
        <label for="favorito">Fav</label>
        <input
          type="checkbox"
          name="favorito"
          v-model="buscar.fav"
          :disabled="buscar.todos"
          @change="ejecutarBusqueda"
        />
        <label for="todos">Todos</label>
        <input
          type="checkbox"
          name="todos"
          v-model="buscar.todos"
          @change="borrarFormulario"
        />
        <!-- <input type="radio" name="tipo" value="fuego" v-model="buscarTipo" />
        <input
          type="radio"
          name="tipo"
          value="electrico"
          v-model="buscarTipo"
        />
        <input type="radio" name="tipo" value="fantasma" v-model="buscarTipo" />

        <h2 style="background-color: white; color: black">{{buscarTipo}}</h2> -->
        <!-- <button>Buscar</button> -->
      </form>

      <ul>
        <!-- <li v-bind:class="pokemon.tipo" v-for="pokemon in listaPokemons"> -->
        <li v-bind:class="pokemon.tipo" v-for="pokemon in pokemonsFiltrados">
          <div @click="cambiarFavorito(pokemon)" class="details">
            <h2>{{ pokemon.nombre }}</h2>
            <p>{{ pokemon.numero }}</p>
            <div class="product">
              <img
                v-bind:class="{favorito: pokemon.fav}"
                v-bind:src="pokemon.imagen"
              />
            </div>
          </div>
        </li>
      </ul>
    </div>
    <script src="app.js"></script>
  </body>
</html>
