<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://unpkg.com/vue@3.1.0"></script>
  </head>
  <body>
    <div id="grupo41">
      <h1>Lista de Pokemons</h1>
      <h2 v-if="mostrarPokemons">{{ nombre }} - {{ numero }} - {{ tipo }}</h2>

      <button @click="ocultarPokemons">
        <span v-if="mostrarPokemons">Ocultar Pokemons</span>
        <span v-else>Mostrar Pokemons</span>
      </button>
      <p v-show="mostrarPokemons">Mostrando Pokemons</p>
      <!-- <button v-on:click="incNumero">Incrementar número</button>
      <button v-on:click="decNumero">Decrementar número</button> -->
    </div>

    <script src="app.js"></script>
  </body>
</html>
